aiohttp == 3.8.3
aiogram==3.0.0b5
redis~=4.3.4
APScheduler~=3.9.1
tzlocal~=4.2
SQLAlchemy==1.4.44
asyncpg==0.27.0
sqlalchemy-utils==0.38.3
cryptography==38.0.3
hdwallet==2.1.2
eth-abi==3.0.1
web3>=6.0.0b8
requests==2.28.1
qrcode==7.3.1
Image==1.5.33
fastapi==0.87.0
uvicorn==0.20.0
python-multipart==0.0.5
segno
qrcode-artistic
colorama